<!--
  Generated template for the SignPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>
  <ion-navbar>
    <ion-title>sign</ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <div style="height: 40%;" *ngIf="logo">
    <img class="graphic" src="../../assets/icon/4ir.png" alt="" srcset="">
    <img style="width: 80%; margin: 10% auto; display: flex;"
      src="../../assets/imgs/Approved-Science-and-Innovation-DSI-cmyk-02.jpeg">
  </div>


  <div padding style="position: relative; top: 0%;">
    <h1>Sign-up</h1>
    <form [formGroup]="userForm" (ngSubmit)="formSubmit()">
      <ion-slides pager="true">
        <ion-slide>
            <ion-item>
                <ion-label>
                  <i class="fa fa-user icon"></i>
                </ion-label>
                <ion-input type="text" placeholder="Firstname" formControlName="firstname" 
                 ></ion-input>
              
              </ion-item>
              <ion-item>
                <ion-label>
                  <i class="fa fa-user icon"></i>
                </ion-label>
                <ion-input type="text" placeholder="Surname" formControlName="surname" 
                 ></ion-input>
              
              </ion-item>
              <ion-item>
                  <ion-label>
                    <i class="fa fa-user icon"></i>
                  </ion-label>
                  <ion-input type="text" placeholder="Username" formControlName="username" 
                   ></ion-input>
                
                </ion-item>
        </ion-slide>
          <ion-slide>
            
                  <ion-item>
                      <ion-label>
                        <i class="fa fa-address-book icon"></i>
                      </ion-label>
                      <ion-input type="text" placeholder="Post address" formControlName="postal_address" 
                       ></ion-input>
                    
                    </ion-item>
                    <ion-item>
                        <ion-label>
                          <i class="fa fa-address-book icon"></i>
                        </ion-label>
                        <ion-input type="number" placeholder="Post code" formControlName="postal_code" 
                         ></ion-input>
                      
                      </ion-item>
                <ion-item>
                  <ion-label>
                    <i class="fa fa-id-badge icon"></i>
                  </ion-label>
                  <ion-input type="email" placeholder="Id_number" formControlName="id_number" 
                   ></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>
                    <i class="fa fa-id-badge icon"></i>
                  </ion-label>
                  <ion-input type="number" placeholder="Persal_number" formControlName="persal_number" 
                   ></ion-input>
                </ion-item>
            </ion-slide>
            <ion-slide>
                <ion-item>
                    <ion-label>
                      <i class="fa fa-envelope icon"></i>
                    </ion-label>
                    <ion-input type="text" placeholder="Email" formControlName="email"
                     ></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label>
                      <i class="fa fa-lock icon"></i>
                    </ion-label>
                    <ion-input type="number" placeholder="Password" formControlName="password_hash" 
                     ></ion-input>
                  </ion-item> 
                  <ion-item>
                    <ion-label>Select Designation</ion-label>
                    <ion-select formControlName="designation_id" >
                      <ion-option *ngFor="let district of listFilteredLookupDesignated" [value]="district.id">{{district.designation}}</ion-option>
                    </ion-select>
                  </ion-item> 
            </ion-slide>
            <ion-slide>
              <ion-item>
                <ion-label>Select Department</ion-label>
                <ion-select formControlName="department_id" >
                  <ion-option *ngFor="let district of listFilteredLookupDistrict" [value]="district.department_id">{{district.description}}</ion-option>
                </ion-select>
              </ion-item> 
              <ion-item>
                <ion-label>Select Branch</ion-label>
                <ion-select formControlName="branch_id" >
                  <ion-option *ngFor="let district of listFilteredLookupMunicipality" [value]="district.department_id">{{district.description}}</ion-option>
                </ion-select>
              </ion-item> 
              <ion-item>
                <ion-label>Select Job</ion-label>
                <ion-select formControlName="job_title_id" >
                  <ion-option *ngFor="let district of listFilteredLookupJob" [value]="district.id">{{district.description}}</ion-option>
                </ion-select>
              </ion-item> 
              <ion-item>
                  <ion-label>Select Unit</ion-label>
                  <ion-select formControlName="job_title_id" >
                    <ion-option *ngFor="let district of listFilteredLookupUnit" [value]="district.id">{{district.description}}</ion-option>
                  </ion-select>
                </ion-item> 
            </ion-slide>
            <ion-slide>
              
                  <ion-item>
                    <ion-label>
                      <i class="fa fa-phone icon"></i>
                    </ion-label>
                    <ion-input type="number" placeholder="Tel_number" formControlName="tel_number" 
                     ></ion-input>
                  </ion-item> 
                  <ion-item>
                    <ion-label>
                      <i class="fa fa-phone icon"></i>
                    </ion-label>
                    <ion-input type="number" placeholder="Cell_number" formControlName="cell_number" 
                     ></ion-input>
                  </ion-item> 
                  <br>
                  <br>
                  <button ion-button block type="submit" color="btn"  [disabled]="!userForm.valid">Sign Up</button>
                  <button ion-button clear block (click)="signIn()">Go Back To &nbsp; <b>Sign In</b> </button>
            </ion-slide>
      </ion-slides>
      
      
     
   
    </form>
  </div>
  <div>
    <img class="bottomimg" *ngIf="lowdesign" src="../../assets/icon/New Project.svg" alt="" srcset="">
  </div>
</ion-content>