<!--
  Generated template for the SignPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>
  <ion-navbar>
    <ion-title>sign</ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <div style="height: 40%;" *ngIf="logo">
    <img class="graphic" src="../../assets/icon/4ir.png" alt="" srcset="">
    <img style="width: 80%; margin: 10% auto; display: flex;"
      src="../../assets/imgs/Approved-Science-and-Innovation-DSI-cmyk-02.jpeg">
  </div>


  <div padding style="position: relative; top: 0%;">
    <h1>Sign-up</h1>

    <ion-item>
      <ion-label>
        <i class="fa fa-user icon"></i>
      </ion-label>
      <ion-input type="text" placeholder="Persal number" name="name" #name="ngModel" ngModel required
        (ionFocus)='onInput($event)' (ionBlur)='noInput($event)'></ion-input>
      <span class="help-block" style="color: red" *ngIf="!name.valid && name.touched">Please enter your Persal</span>

    </ion-item>
    <ion-item>
      <ion-label>
        <i class="fa fa-envelope icon"></i>
      </ion-label>
      <ion-input type="email" placeholder="Email" #email="ngModel" ngModel required (ionFocus)='onInput($event)'
        (ionBlur)='noInput($event)'></ion-input>
      <span class="help-block" style="color: red" *ngIf="!email.valid && email.touched">Please enter your email</span>

    </ion-item>

    <ion-item>
      <ion-label>
        <i class="fa fa-lock icon"></i>
      </ion-label>
      <ion-input type="password" placeholder="Password" name="password" #password="ngModel" ngModel required
        (ionFocus)='onInput($event)' (ionBlur)='noInput($event)'></ion-input>
      <span class="help-block" style="color: red" *ngIf="!password.valid && password.touched">Please enter your
        password</span>

    </ion-item>

    <!-- </ion-list> -->
    <!-- <div style="position: relative; margin: auto; display: flex; justify-content: flex-end;">
                <button ion-button clear small >Forgot Password?</button>
            </div> -->
    <br>
    <br>
    <button ion-button block color="btn" (click)="SignUp()">Sign Up</button>
    <button ion-button clear block (click)="signIn()">Go Back To &nbsp; <b>Sign In</b> </button>
  </div>
  <div>
    <img class="bottomimg" *ngIf="lowdesign" src="../../assets/icon/New Project.svg" alt="" srcset="">
  </div>
</ion-content>